.header {
  width: 100%;
  line-height: 1.2;

  .header-top {
    height: 48px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    //background-color: #25282f;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
}
