.layout-header {
  position: sticky;
  top: 0;
  left: 0;
  box-shadow: 0 0.7px 1.4px rgb(0 0 0 / 7%), 0 1.9px 4px rgb(0 0 0 / 5%), 0 4.5px 10px rgb(0 0 0 / 5%);

  .header-top {
    height: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background-color: #25282f;
    border-bottom-color: #25282f;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .top-left {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 8px;
      padding-right: 8px;
      color: #fff;
      font-size: 18px;
    }

    .top-center {
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .top-right {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 8px;
      padding-right: 8px;

      .header-item {
        width: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .anticon {
        svg {
          width: 16px;
          height: 16px;
          color: #fff;
        }
      }
    }
  }

  .header-bottom {
    height: 3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    background: #fff;
    border-bottom: 1px solid #cdd3df;
    display: flex;
    align-items: center;

    .header-menu {
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 16px;
          height: 16px;
          color: black;
        }
      }
    }

    .header-custom {
      width: 40px;
      display: flex;
      justify-content: center;
      align-items: center;

      button {
        width: 40px;
        height: 40px;
        border: none;
        background: none;

        span {
          width: 24px;
          height: 24px;
          margin: 0;
          padding: 0;
          line-height: 24px;
          color: #000;
          border-radius: 6px;
          font-size: 12px;
          font-weight: 500;
          font-family: Helvetica, Arial, sans-serif;
          background-color: rgb(0, 191, 179);
        }
      }
    }

    .header-breadcrumb {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 8px;
      margin-right: 8px;
    }
  }
}
